<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144114693634-smlkjoj01e3cdo34oks127otc2j78mm3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144114693634-smlkjoj01e3cdo34oks127otc2j78mm3</string>
	<key>API_KEY</key>
	<string>AIzaSyCNX5zWDhmRRcCGW0Sgq2AkUG3H5b5Ku3c</string>
	<key>GCM_SENDER_ID</key>
	<string>144114693634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tu.swiftodo</string>
	<key>PROJECT_ID</key>
	<string>swiftodo-tu</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftodo-tu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144114693634:ios:63489f07c6a913a506d91b</string>
</dict>
</plist>